$login-background-color: linear-gradient(-135deg, #f7e6ff, #c9d2ff);
$login-input-placeholder-color: #999999;
$login-input-focus-color: rgba(63, 81, 181, 0.8);
$login-button-color: #3f51b5;
$login-symbol-color: #666666;
